{% extends 'base.html' %}

{% block title %}
توییتر - صفحه اصلی
{% endblock %}

{% block content %}

    <form action="" method="get">
        {{ form }}
        <input type="submit" value="Search">
    </form>
    <br>
    <div class="card">
        {% for post in posts %}
            <p style="color: blue">{{ post.user }}:</p>
            <a href="{{ post.get_absolute_url }}" class="card-body" style="text-decoration: none">{{ post.body|truncatewords:20 }}</a><hr>
        {% endfor %}

    </div>
{% endblock %}